*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: aquamarine;
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-content: center;
    padding: 50px;
}
.kutu{
    border: thin solid rgb(16, 16, 166);
    width: 150px;
    height: 150px;
}