*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    height: 100vh;
    display: grid;
    grid-template-columns: 200px 600px 200px;
    grid-template-rows: 150px 50px 1fr 100px;
    gap: 10px;
    place-content: center;
    
    
}
header,footer,menu,main,aside{
    background-color: tomato;
}
header{
    grid-column: 1/4;
}
menu{
    grid-column: 1/4;
}
main{
    grid-column: 2/4;
}
aside{
    grid-column: 1/2;
}
footer{
    grid-column: 1/4;
}